@import "tailwindcss";

:root {
  --primary: #ff6b6b;
  --secondary: #f9c74f;
  --dark: #2b2d42;
  --light: #edf2f4;
  --white: #ffffff;
  --black: #000000;
  --gray: #8d99ae;
  --gray-light: #e9ecef;
  --gray-dark: #343a40;
  --success: #28a745;
  --danger: #dc3545;
  --warning:rgb(59, 50, 22);
  --info: #17a2b8;
  --border-radius: 0.25rem;
  --transition: all 0.3s linear;
}

@font-face {
  font-family: "Vazir";
  src: url("../assets/font/vazir/Vazir-FD-WOL.eot");
  src: url("../assets/font/vazir/Vazir-FD-WOL.eot?#iefix") format("embedded-opentype"),
    url("../assets/font/vazir/Vazir-FD-WOL.woff") format("woff"),
    url("../assets/font/vazir/Vazir-FD-WOL.ttf") format("truetype"),
    url('../assets/font/vazir/Vazir-FD-WOL.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Vazir";
  direction: rtl;
  overflow-x: hidden;

}

