@import "tailwindcss";
@import "./admin-palettes.css";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: #ff6b6b;
  --secondary: #f9c74f;
  --dark: #2b2d42;
  --light: #edf2f4;
  --white: #ffffff;
  --black: #000000;
  --gray: #8d99ae;
  --gray-light: #e9ecef;
  --gray-dark: #343a40;
  --success: #28a745;
  --danger: #dc3545;
  --warning: rgb(59, 50, 22);
  --info: #17a2b8;
  --border-radius: 0.25rem;
  --transition: all 0.3s linear;
}

@font-face {
  font-family: "AppFont";
  src:
    url("../assets/font/vazir/Vazir-FD-WOL.woff2") format("woff2"),
    url("../assets/font/vazir/Vazir-FD-WOL.woff") format("woff"),
    url("../assets/font/vazir/Vazir-FD-WOL.ttf") format("truetype"),
    url("../assets/font/vazir/Vazir-FD-WOL.eot");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  unicode-range:
    U+0600-06FF, /* Arabic */
    U+0750-077F, /* Arabic Supplement */
    U+08A0-08FF, /* Arabic Extended-A */
    U+FB50-FDFF, /* Arabic Presentation Forms-A */
    U+FE70-FEFF, /* Arabic Presentation Forms-B */
    U+0660-0669; /* Arabic-Indic digits */
}

html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "AppFont", var(--font-inter), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  direction: rtl;
}

@media (max-width: 768px) {
  .responsive-table {
    width: calc(100% - 8vw) !important;
    max-width: calc(100% - 8vw) !important;
  }
  .responsive-table * {
    max-width: 100%;
  }
}
